$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-bottom: 20px;
  background: url('../images/earth1.jpg') no-repeat;
  background-attachment: fixed;
//  height: 1800px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  padding-top: 20px;
  position: fixed;
  border-bottom: 1px solid #e5e5e5;
  background: url('../images/earth1_2000.jpg');
  z-index: 10000;

  .our-links {
    margin-right: 50px;
  }
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}
.dream {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 90px;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  color: #ffffff;
  background-color: transparent;
  p {
    text-align: left;
  }
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
//@media screen and (min-width: 768px) {
  .text-muted {
    margin-left: 75px;
  }

  .logo {
    float: left;
    background: url("/images/logo.png");
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
    display: inline-block;
  }
  .container {
    width: 100%;
  }
  .header {
    width: 100%;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
    padding-bottom: 0px;
  }

  .qr-code {
    margin: 0 auto 20px;
    width: 129px;
    height: 129px;
    background: url("/images/qrcode_for_gh_12.jpg");
    background-size: 129px 129px;

  }
//}

.shanzi-container {
  padding-top: 100px;
  height: 680px;
  width: 100%;
}
.shanzi li {
  list-style-type: none;
  position: absolute;
  padding: 40px;
  height: 480px;
  width: 300px;
  font-size: 100px;
  line-height: 160px;
  text-align: center;
  left: 50%;
  margin-left: -130px;

  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 200%;
  -o-transform-origin: 50% 200%;
  -ms-transform-origin: 50% 200%;
  transform-origin: 50% 200%;

  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.shanzi li:nth-child(1) {
  background-color: #6bc4ca;
  background: url('/images/projects/p1_480.jpg');
  background-size: 300px 480px;
}
.shanzi li:nth-child(2) {
  background-color: #2a2b39;
  background: url('/images/projects/p2_480.jpg');
  background-size: 300px 480px;
}
.shanzi li:nth-child(3) {
  background-color: #517ac0;
  background: url('/images/projects/p3_480.jpg');
  background-size: 300px 480px;
}
.shanzi li:nth-child(4) {
  background-color: #b65d87;
  background: url('/images/projects/p4_480.jpg');
  background-size: 300px 480px;
}
.shanzi li:nth-child(5) {
  background-color: #38282c;
  background: url('/images/projects/p5_480.jpg');
  background-size: 300px 480px;
}
.shanzi li:nth-child(6) {
  background-color: #f4d60d;
  background: url('/images/projects/p6_480.jpg');
  background-size: 300px 480px;
}
.shanzi li:nth-child(7) {
  background-color: #517ac0;
  background: url('/images/projects/p9_480.jpg');
  background-size: 300px 480px;
}

.shanzi li:nth-child(8) {
  background-color: #a23d87;
  background: url('/images/projects/p8_480.jpg');
  background-size: 300px 480px;
}

