$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-bottom: 20px;
  background: url('../images/earth1.jpg') no-repeat;
  background-attachment: fixed;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  padding-top: 20px;
  position: fixed;
  border-bottom: 1px solid #e5e5e5;
  background: url('../images/earth1.jpg');
  z-index: 10000;

  .our-links {
    margin-right: 50px;
  }
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}
.dream {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 90px;
}
/* Main marketing message and sign up button */
.jumbotron {
  margin-top: 400px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
//@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }
  .header {
    width: 100%;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
//}

.shanzi-container {
  width: 100%;
}
.shanzi li {
  list-style-type: none;
  position: absolute;
  padding: 40px;
  height: 320px;
  width: 180px;
  font-size: 100px;
  line-height: 160px;
  text-align: center;
  left: 50%;
  margin-left: -130px;
  box-shadow: 0 0 50px 1px #888;

  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 200%;
  -o-transform-origin: 50% 200%;
  -ms-transform-origin: 50% 200%;
  transform-origin: 50% 200%;

  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  -ms-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.shanzi li:nth-child(1) {background-color: rgb(182, 182, 5);  }
.shanzi li:nth-child(2) {background-color: rgb(198, 182, 5);  }
.shanzi li:nth-child(3) {background-color: rgb(218, 182, 5);  }
.shanzi li:nth-child(4) {background-color: rgb(234, 182, 255);}
.shanzi li:nth-child(5) {background-color: rgb(255, 182, 255);}
.shanzi li:nth-child(6) {background-color: rgb(255, 182, 234);}
.shanzi li:nth-child(7) {background-color: rgb(255, 182, 218);}
.shanzi li:nth-child(8) {background-color: rgb(255, 182, 198);}
.shanzi li:nth-child(9) {background-color: rgb(255, 182, 182);}
.shanzi li:nth-child(10) {background-color: rgb(255, 198, 182);}
.shanzi li:nth-child(11) {background-color: rgb(255, 218, 182);}
.shanzi li:nth-child(12) {background-color: rgb(255, 234, 182);}
.shanzi li:nth-child(13) {background-color: rgb(255, 255, 182);}
.shanzi li:nth-child(14) {background-color: rgb(234, 255, 182);}
.shanzi li:nth-child(15) {background-color: rgb(218, 255, 182);}
.shanzi li:nth-child(16) {background-color: rgb(198, 255, 182);}
.shanzi li:nth-child(17) {background-color: rgb(182, 255, 182);}
.shanzi li:nth-child(18) {background-color: rgb(182, 255, 198);}
.shanzi li:nth-child(19) {background-color: rgb(182, 255, 218);}
.shanzi li:nth-child(20) {background-color: rgb(182, 255, 234);}
.shanzi li:nth-child(21) {background-color: rgb(182, 255, 255);}
.shanzi li:nth-child(22) {background-color: rgb(182, 234, 255);}
.shanzi li:nth-child(23) {background-color: rgb(182, 218, 255);}
.shanzi li:nth-child(24) {background-color: rgb(182, 198, 255);}
